body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}
body{
    text-align: center;
}
h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 3rem;
    margin: 2rem;
}
.forms_holder {
    display: flex;
    justify-content: space-around;
}
.registration,
.login {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    text-align: center;
}

.registration h2,
.login h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #0062cc;
}



button:hover {
    background-color: #0062cc;
}

#logout_btn {
    color: rgb(230, 11, 48);
    font-size: 16px;
    font-stretch: expanded;
    letter-spacing: 6px;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

thead tr {
    background-color: #0099ff;
    color: white;
    font-weight: bold;
}

thead th,
tbody td {
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #c2e3f7;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-wrapper table {
    margin-top: 20px;
}

.nav-bar, .title-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
}

.nav-bar h1 {
    margin: 0;
}

.nav-bar-buttons {
    display: flex;
    gap: 10px;
}

.nav-bar-buttons button {
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

.nav-bar-buttons button a {
    text-decoration: none;
    color: white;
}

.recipe-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.large-textarea {
    resize: vertical;
}

.directions {
    height: 50px;
}